@charset "utf-8";
/* CSS Document */
.container {
	width: 400px;
	height: 1000px;
	background-color: aqua;
}.ul li  {
	position: relative;
}

.ul li ul {
	position: absolute;
	visibility: hidden;
	
}
.ul li:hover ul{
	visibility: visible;
}